:root,
.base-theme {
  --c804822e-primary-btn-color: var(--text-action);
  --c804822e-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-secondary-btn-color: var(--text-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-primary);
  --c804822e-tertiary-btn-color: var(--text-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-tertiary-error-btn-color: var(--text-destructive);
  --c804822e-tertiary-error-btn-h-bg: var(--fill-destructive-secondary-hover);
  --c804822e-tertiary-error-btn-h-icolor: var(--text-destructive);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-destructive-primary-hover);
  --c804822e-disabled-btn-color: var(--text-disabled);
  --c804822e-disabled-btn-bg: var(--fill-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-action-secondary-btn-color: var(--text-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-primary);
  --c804822e-action-secondary-btn-border-disabled: var(--border-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-action-tertiary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-tertiary-destructive-btn-h-bg: var(--fill-destructive-secondary-hover);
}
.base-inverted {
  --c804822e-primary-btn-color: var(--text-invert-action);
  --c804822e-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-secondary-btn-color: var(--text-positive-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-secondary);
  --c804822e-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-invert-destructive-secondary);
  --c804822e-disabled-btn-color: var(--text-invert-disabled);
  --c804822e-disabled-btn-bg: var(--fill-invert-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-invert-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-action-secondary-btn-color: var(--text-positive-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-secondary);
  --c804822e-action-secondary-btn-border-disabled: var(--icons-invert-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-invert-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-invert-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-invert-hover);
}
.base-attention {
  --c804822e-action-secondary-btn-color: var(--text-invert-action);
  --c804822e-action-secondary-btn-h-bg: var(--fill-positive-attention-hover);
  --c804822e-action-secondary-btn-border: var(--border-invert-dark);
  --c804822e-action-secondary-btn-border-disabled: var(--border-invert-disabled);
}
.Rna02 {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  display: inline-grid;
  grid: 'c' auto / auto;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 8px;
  border-radius: var(--c-btn-brad);
  border: solid 1px transparent;
  padding: var(--c-btn-pad);
  color: currentColor;
  background-color: transparent;
  --c-btn-pad: 3px 7px;
  --c-btn-brad: 4px;
  --c-btn-icolor: currentColor;
  --c-btn-h-icolor: var(--c-btn-icolor);
}
.Rna02 b,
.Rna02 em {
  font-weight: var(--subhead-emphasized-weight);
}
.Rna02.xwFe4 {
  width: 100%;
}
.cojBY {
  grid: 'l c' auto / auto auto;
}
.sg6S4 {
  grid: 'c r' auto / auto auto;
}
.cojBY.sg6S4 {
  grid: 'l c r' auto / auto auto auto;
}
.IdRCY {
  transition: opacity 0.2s;
  grid-area: c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.wjpw2 {
  grid-area: 1 / 1 / 1 / -1;
  margin: -4px;
}
.W8RBB {
  transition: opacity 0.2s, color 0.2s;
  display: flex;
  margin: -4px -8px;
  color: var(--c-btn-icolor);
}
.rSmBI > .W8RBB,
.Rna02:hover > .W8RBB {
  color: var(--c-btn-h-icolor);
}
.kA5Wr {
  grid-area: l;
}
.JJSL1 {
  grid-area: r;
}
.Rna02:disabled,
.RiSrT {
  cursor: default;
  pointer-events: none;
}
.RiSrT > .W8RBB,
.RiSrT > .IdRCY {
  opacity: 0;
}
.Rna02:disabled {
  color: var(--c804822e-disabled-btn-color);
  border: solid 1px var(--c804822e-disabled-btn-border);
  --c-btn-icolor: var(--c804822e-disabled-btn-color);
}
.Rna02:disabled > .W8RBB {
  opacity: 0.3;
}
.stMKA,
.OblWK,
.RQSF2 {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  --c-btn-pad: 9px 15px;
  --c-btn-brad: 8px;
  column-gap: 4px;
}
.stMKA b,
.OblWK b,
.RQSF2 b,
.stMKA em,
.OblWK em,
.RQSF2 em {
  font-weight: var(--headline-emphasized-weight);
}
.stMKA .wjpw2,
.OblWK .wjpw2,
.RQSF2 .wjpw2 {
  margin: 0;
}
.stMKA .W8RBB,
.OblWK .W8RBB,
.RQSF2 .W8RBB {
  margin: -8px;
}
.stMKA .kA5Wr,
.OblWK .kA5Wr,
.RQSF2 .kA5Wr {
  margin-right: 0;
}
.stMKA .JJSL1,
.OblWK .JJSL1,
.RQSF2 .JJSL1 {
  margin-left: 0;
}
.stMKA:disabled,
.OblWK:disabled,
.RQSF2:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.stMKA {
  color: var(--c804822e-primary-btn-color);
  background-color: var(--c804822e-primary-btn-bg);
}
.stMKA.gJ0CR {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-primary);
}
.stMKA.gJ0CR:hover {
  background-color: var(--fill-invert-hover);
}
.stMKA.rSmBI,
.stMKA:hover {
  background-color: var(--c804822e-primary-btn-h-bg);
}
.OblWK {
  background-color: var(--c804822e-secondary-btn-bg);
  color: var(--c804822e-secondary-btn-color);
  border-color: var(--c804822e-secondary-btn-border-color);
}
.OblWK.gJ0CR {
  color: var(--text-invert-action);
  background: transparent;
  border-color: var(--border-invert-dark);
}
.OblWK.gJ0CR:hover {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-hover);
}
.OblWK.rSmBI,
.OblWK:hover {
  background-color: var(--c804822e-secondary-btn-h-bg);
}
.RQSF2 {
  color: var(--c804822e-error-btn-color);
  background-color: var(--c804822e-error-btn-bg);
}
.RQSF2.rSmBI,
.RQSF2:hover {
  background-color: var(--c804822e-error-btn-h-bg);
}
.a3oVp {
  color: var(--c804822e-action-primary-btn-color);
  background-color: var(--c804822e-action-primary-btn-bg);
}
.a3oVp:hover,
.a3oVp.rSmBI {
  background-color: var(--c804822e-action-primary-btn-h-bg);
}
.a3oVp:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.LY19j {
  color: var(--c804822e-action-secondary-btn-color);
  background-color: transparent;
  border: 1px solid var(--c804822e-secondary-btn-border-color);
}
.LY19j:hover,
.LY19j.rSmBI {
  background-color: var(--c804822e-action-secondary-btn-h-bg);
}
.LY19j:disabled {
  border-color: var(--c804822e-action-secondary-btn-border-disabled);
}
.LY19j.kwP2d:not(:disabled) {
  color: var(--c804822e-action-secondary-destructive-btn-color);
  border-color: var(--c804822e-action-secondary-destructive-btn-border);
}
.LY19j.kwP2d:not(:disabled):hover,
.LY19j.kwP2d:not(:disabled).rSmBI {
  color: var(--c804822e-action-secondary-destructive-btn-h-color);
  background-color: var(--c804822e-action-secondary-destructive-btn-h-bg);
}
.VZ4SZ {
  color: var(--c804822e-action-tertiary-btn-color);
}
.VZ4SZ:hover,
.VZ4SZ.rSmBI {
  background-color: var(--c804822e-action-tertiary-btn-h-bg);
}
.VZ4SZ.kwP2d:not(:disabled) {
  color: var(--c804822e-action-tertiary-destructive-btn-color);
}
.VZ4SZ.kwP2d:not(:disabled):hover,
.VZ4SZ.kwP2d:not(:disabled).rSmBI {
  background-color: var(--c804822e-action-tertiary-destructive-btn-h-bg);
}
.PGkzL,
.sdwF5 {
  color: var(--c804822e-tertiary-btn-color);
  text-decoration: underline;
}
.PGkzL.rSmBI,
.sdwF5.rSmBI,
.PGkzL:hover,
.sdwF5:hover {
  background-color: var(--c804822e-tertiary-btn-h-bg);
}
.FpBnu {
  color: var(--c804822e-tertiary-error-btn-color);
  --c-btn-h-icolor: var(--c804822e-tertiary-error-btn-h-icolor);
}
.FpBnu.rSmBI,
.FpBnu:hover {
  background-color: var(--c804822e-tertiary-error-btn-h-bg);
}
.hBjIv {
  color: var(--c804822e-action-error-btn-color);
}
.hBjIv.rSmBI,
.hBjIv:hover {
  background-color: var(--c804822e-action-error-btn-h-bg);
}
.hY7AJ {
  color: var(--c804822e-action-regular-btn-color);
  --c-btn-icolor: var(--icons-action);
}
.hY7AJ.rSmBI,
.hY7AJ:hover {
  background-color: var(--c804822e-action-regular-btn-h-bg);
}
.KzaIr {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  border: 1px solid var(--border-default);
  color: var(--text-primary);
  background-color: var(--fill-primary);
  padding: 10px 32px 10px 24px;
  border-radius: 8px;
  grid: 'l c' auto / auto 1fr;
}
.KzaIr b,
.KzaIr em {
  font-weight: var(--headline-emphasized-weight);
}
.KzaIr:hover {
  background-color: var(--fill-hover);
}
.KzaIr.ZKb_3 {
  color: var(--text-disabled);
  background-color: var(--fill-disabled);
  border-color: var(--border-disabled);
}
.KzaIr.ZKb_3 .W8RBB path {
  fill: var(--text-disabled);
}
.ZJIIO {
  color: #000000;
}
.base-theme.dark .ZJIIO {
  color: #ffffff;
}
.pcchT {
  text-decoration: underline;
  cursor: pointer;
}

.X64kB {
  z-index: 10;
}
.OnEqf {
  box-sizing: border-box;
  animation: rBhmd 0.3s ease-out;
  background-color: var(--fill-positive-attention);
  padding: 8px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.i2AeX {
  --initial-placement: translate(0, -16px);
}
.MHe37 {
  --initial-placement: translate(16px, 0);
}
.mdL4P {
  --initial-placement: translate(0, 16px);
}
.OQ60d {
  --initial-placement: translate(-16px, 0);
}
@keyframes rBhmd {
  from {
    transform: var(--initial-placement);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.oI9VL {
  fill: var(--fill-positive-attention);
}
.Qeru9 {
  box-sizing: border-box;
  max-width: 264px;
  padding: 8px;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--text-invert-action);
}
.pwgbp {
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  margin-bottom: 8px;
}
.pwgbp b,
.pwgbp em {
  font-weight: var(--callout-emphasized-weight);
}
.KlPhZ {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: flex-end;
  gap: 8px;
}

:root,
.base-theme {
  --29fa4c95-select-color: var(--text-primary);
  --29fa4c95-select-color-disabled: var(--text-disabled);
  --29fa4c95-select-bg: var(--fill-primary);
  --29fa4c95-select-bg-hover: var(--fill-hover);
  --29fa4c95-select-bg-disabled: var(--fill-disabled);
  --29fa4c95-select-border: var(--border-default);
  --29fa4c95-select-border-focus: var(--border-positive-secondary);
  --29fa4c95-select-border-error: var(--border-destructive);
  --29fa4c95-select-arrow-color: var(--icons-secondary);
  --29fa4c95-select-arrow-color-disabled: var(--icons-disabled);
  --29fa4c95-label-color: var(--text-secondary);
  --29fa4c95-label-color-focus: var(--text-positive-primary);
  --29fa4c95-label-color-error: var(--text-destructive);
}
.base-inverted {
  --29fa4c95-select-color: var(--text-invert-primary);
  --29fa4c95-select-color-disabled: var(--text-invert-disabled);
  --29fa4c95-select-bg: var(--fill-invert-primary);
  --29fa4c95-select-bg-hover: var(--fill-invert-hover);
  --29fa4c95-select-bg-disabled: var(--fill-invert-disabled);
  --29fa4c95-select-border: var(--border-invert-dark);
  --29fa4c95-select-border-focus: var(--border-positive-secondary);
  --29fa4c95-select-border-error: var(--border-invert-destructive);
  --29fa4c95-select-arrow-color: var(--icons-invert-light);
  --29fa4c95-select-arrow-color-disabled: var(--icons-invert-disabled);
  --29fa4c95-label-color: var(--text-invert-secondary);
  --29fa4c95-label-color-focus: var(--text-positive-primary);
  --29fa4c95-label-color-error: var(--text-invert-destructive);
}
.ZYIUp {
  box-sizing: border-box;
  text-align: left;
  grid: 'l a' 1fr / minmax(0, 1fr) auto;
  padding: 2px 8px 3px 16px;
  border: 1px solid var(--29fa4c95-select-border);
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: start;
  transition: all 0.2s ease;
  color: var(--29fa4c95-label-color);
  background-color: var(--29fa4c95-select-bg);
  min-height: 52px;
}
.ZYIUp:hover:not(:focus-within) {
  background-color: var(--29fa4c95-select-bg-hover);
}
.ZYIUp:focus-within {
  border-color: var(--29fa4c95-select-border-focus);
  color: var(--29fa4c95-label-color-focus);
}
.ZYIUp.A4sTh {
  border-color: var(--29fa4c95-select-border-error);
  color: var(--29fa4c95-label-color-error);
}
.ZYIUp.SuRak {
  background-color: var(--29fa4c95-select-bg-disabled);
  color: var(--29fa4c95-select-color-disabled);
}
.ZYIUp.SuRak .f7fJn:after {
  color: var(--29fa4c95-select-color-disabled);
}
.f7fJn {
  grid-area: l;
  transition: all 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
}
.f7fJn::after {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  content: attr(data-input-value) '\00a0';
  color: var(--29fa4c95-select-color);
  display: block;
  transition: all 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f7fJn::after b,
.f7fJn::after em {
  font-weight: var(--subhead-emphasized-weight);
}
.f7fJn[data-input-value=''] {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
}
.f7fJn[data-input-value=''] b,
.f7fJn[data-input-value=''] em {
  font-weight: var(--subhead-emphasized-weight);
}
.f7fJn[data-input-value='']::after {
  margin-bottom: -16px;
  opacity: 0;
}
.HRPoQ {
  grid-area: a;
  color: var(--29fa4c95-select-arrow-color);
  transform: rotate(180deg);
}
.SuRak .HRPoQ {
  color: var(--29fa4c95-select-arrow-color-disabled);
}
.WE1N5 {
  grid-area: l / l / a / a;
  box-sizing: content-box;
  width: calc(100% - 2 * 1px);
  height: calc(100% - 2 * 1px);
  opacity: 0;
  padding: 2px 8px 3px 16px;
  margin: -2px -8px -3px -16px;
}

.WtCka {
  width: 100%;
}
.VyUdz {
  align-self: stretch;
}
.dYThi {
  align-self: center;
}
.x7qsM {
  flex: none;
}
.Ez4XM {
  flex: 1 1 auto;
}

.KXou9 {
  grid-area: item;
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid: 'label icon' auto 'value icon' auto / minmax(0, 1fr) auto;
  row-gap: 4px;
  align-items: center;
}
.UUM40 {
  grid-area: label;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}
.base-inverted .UUM40 {
  color: var(--text-invert-secondary);
}
.TTiuA {
  grid-area: value;
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}
.TTiuA b,
.TTiuA em {
  font-weight: var(--callout-emphasized-weight);
}
.TTiuA.HWvxw {
  color: var(--text-default-disabled);
}
.base-inverted .TTiuA {
  color: var(--text-invert-primary);
}
.base-inverted .TTiuA.HWvxw {
  color: var(--text-invert-disabled);
}
.fdnKj {
  color: var(--icons-primary);
  grid-area: icon;
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*** This is autogenerated file. Do not modify it manually ***/
:root .light,
:host .light {
  --background-fade: #5b6065bf;
  --background-opacity: #ffffffcc;
  --background-primary: #ffffff;
  --background-secondary: #f5f5f6;
  --border-attention: #ad821f;
  --border-default: #eeeeee;
  --border-destructive: #c91d2b;
  --border-disabled: #f5f5f6;
  --border-hover: #f1f1f1;
  --border-info: #0488ca;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #bfbfc0;
  --border-positive-primary: #393e41;
  --border-positive-secondary: #1ab2b3;
  --border-success: #007637;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #bfbfc0;
  --divider-positive: #1ab2b3;
  --divider-primary: #eeeeee;
  --fill-destructive-primary: #d83b48;
  --fill-destructive-primary-hover: #c91d2b;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #ffedee;
  --fill-destructive-tertiary: #ffedee;
  --fill-disabled: #f1f1f1;
  --fill-hover: #eeeeee;
  --fill-hover-on-secondary: #dadada;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #fff8d2;
  --fill-positive-info: #dcf2fd;
  --fill-positive-info-hover: #a5d5ed;
  --fill-positive-primary: #16191c;
  --fill-positive-primary-hover: #393e41;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #0ea6a7;
  --fill-positive-success: #e6f7ed;
  --fill-positive-success-hover: #abddc2;
  --fill-primary: #ffffff;
  --fill-secondary: #f5f5f6;
  --icons-action: #f5f5f6;
  --icons-attention: #936806;
  --icons-destructive: #c91d2b;
  --icons-disabled: #7d8185;
  --icons-info: #013955;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #16191c;
  --icons-secondary: #5b6065;
  --icons-success: #007637;
  --shadows-base-shadow: #1e232726;
  --text-action: #f5f5f6;
  --text-attention: #936806;
  --text-destructive: #c91d2b;
  --text-disabled: #7d8185;
  --text-info: #013955;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #16191c;
  --text-secondary: #5b6065;
  --text-success: #007637;
}
:root .dark,
:host .dark {
  --background-fade: #5b6065bf;
  --background-opacity: #111518cc;
  --background-primary: #111518;
  --background-secondary: #1e2327;
  --border-attention: #ffee84;
  --border-default: #393e41;
  --border-destructive: #ff4c5b;
  --border-disabled: #616568;
  --border-hover: #5b6065;
  --border-info: #51c5ff;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #5b6065;
  --border-positive-primary: #f1f1f1;
  --border-positive-secondary: #1ab2b3;
  --border-success: #5be19d;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #5b6065;
  --divider-positive: #1ab2b3;
  --divider-primary: #393e41;
  --fill-destructive-primary: #c91d2b;
  --fill-destructive-primary-hover: #d83b48;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #380106;
  --fill-destructive-tertiary: #380106;
  --fill-disabled: #2a3035;
  --fill-hover: #262b2f;
  --fill-hover-on-secondary: #393e41;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #472a06;
  --fill-positive-info: #013955;
  --fill-positive-info-hover: #5a7591;
  --fill-positive-primary: #f1f1f1;
  --fill-positive-primary-hover: #ffffff;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #1ebfbf;
  --fill-positive-success: #053321;
  --fill-positive-success-hover: #558371;
  --fill-primary: #111518;
  --fill-secondary: #1e2327;
  --icons-action: #16191c;
  --icons-attention: #ffd83f;
  --icons-destructive: #ff4c5b;
  --icons-disabled: #939597;
  --icons-info: #51c5ff;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #f5f5f6;
  --icons-secondary: #bfbfc0;
  --icons-success: #47cd89;
  --shadows-base-shadow: #393e4126;
  --text-action: #16191c;
  --text-attention: #ffd83f;
  --text-destructive: #ff4c5b;
  --text-disabled: #939597;
  --text-info: #51c5ff;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #f5f5f6;
  --text-secondary: #bfbfc0;
  --text-success: #47cd89;
}
.z_8Fk {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  position: fixed;
  z-index: 2147483647;
  top: 24px;
  right: 24px;
  width: 328px;
  border-radius: 24px;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--fill-invert-primary);
  color: var(--text-invert-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 16px;
  opacity: 0;
  transform: translateY(-10%);
  visibility: hidden;
  pointer-events: auto;
}
.z_8Fk b,
.z_8Fk em {
  font-weight: var(--subhead-emphasized-weight);
}
.mfd6E {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in-out;
}
.q9VNy {
  display: grid;
  grid-template-areas: 'icon title close';
  grid-template-columns: 32px 1fr 32px;
  column-gap: 8px;
}
.VfUXW {
  grid-area: 'icon';
}
.qKJPO {
  grid-area: 'title';
  color: var(--text-invert-primary);
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  padding: 3px 0;
}
.gP6As {
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  color: var(--text-invert-secondary);
  padding: 0 8px;
}
.gP6As b,
.gP6As em {
  font-weight: var(--callout-emphasized-weight);
}
.kgSsA {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  color: var(--text-invert-secondary);
  padding: 0 8px;
}
.kgSsA b,
.kgSsA em {
  font-weight: var(--subhead-emphasized-weight);
}
.SJNoM {
  grid-area: unset !important;
}
.O8sLG > *:not(:last-child) {
  margin-bottom: 4px;
}
.Q7NsT {
  grid-area: 'close';
}
.JFtbS {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--text-invert-secondary);
  text-align: center;
}
.eS269 {
  justify-self: center;
}
.LU2Yb {
  justify-self: center;
  padding: 16px;
}
.sKFZN > *:not(:last-child) {
  margin-bottom: 16px;
}
.bZJMM {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  color: var(--text-secondary);
  text-align: center;
}
.bZJMM b,
.bZJMM em {
  font-weight: var(--subhead-emphasized-weight);
}
.AdP9A {
  width: 100%;
  height: 44px;
}
.AdP9A.n3b0U {
  pointer-events: none;
}
.aXevx {
  width: 312px;
  max-width: 312px;
}
.UEQq3 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  z-index: 2147483647;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
}
.UEQq3 b,
.UEQq3 em {
  font-weight: var(--subhead-emphasized-weight);
}
h1,
h2,
h3,
p {
  margin: 0;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
* {
  scrollbar-color: var(--background-secondary) transparent;
  scrollbar-width: thin;
}
.base-inverted * {
  scrollbar-color: var(--border-invert-dark) transparent;
}
.base-inverted *::-webkit-scrollbar-thumb {
  background-color: var(--border-invert-dark);
}

.idz72 {
  fill: var(--icons-invert-destructive);
  justify-self: center;
}
.rsZEg > *:not(:last-child) {
  margin-bottom: 8px;
}
.vW0S_ {
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  color: var(--text-invert-primary);
  text-align: center;
}
.vW0S_ b,
.vW0S_ em {
  font-weight: var(--callout-emphasized-weight);
}
.ZBtrt {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  color: var(--text-invert-secondary);
  text-align: center;
}
.ZBtrt b,
.ZBtrt em {
  font-weight: var(--subhead-emphasized-weight);
}

.uvGSS {
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  background-color: #2A3035;
  color: #F5F5F6;
  padding: 8px;
  border-radius: 8px;
  z-index: 11;
}
.uvGSS.wEowI {
  background-color: #FFD83F;
  color: #16191C;
}
.YgCZh {
  fill: #2A3035;
}
.YgCZh.wEowI {
  fill: #FFD83F;
}

:root,
.base-theme {
  --56ae32b1-primary-icon-button-color: var(--icons-secondary);
  --56ae32b1-secondary-icon-button-color: var(--icons-secondary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-hover);
}
.base-secondary {
  --56ae32b1-primary-icon-button-color: var(--icons-secondary);
  --56ae32b1-secondary-icon-button-color: var(--icons-secondary);
  --56ae32b1-default-icon-button-color: var(--icons-secondary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-hover);
}
.base-inverted {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-default-icon-button-color: var(--icons-invert-light);
  --56ae32b1-icon-button-disabled-color: var(--icons-invert-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-hover);
}
.base-color {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-default-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-positive-primary-hover);
}
.base-attention {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-default-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-attention-hover);
}
.base-error {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-default-icon-button-color: var(--icons-invert-light);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-destructive-secondary-hover);
}
.base-info {
  --56ae32b1-primary-icon-button-color: var(--icons-primary);
  --56ae32b1-secondary-icon-button-color: var(--icons-primary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-info-hover);
}
.base-success {
  --56ae32b1-primary-icon-button-color: var(--icons-primary);
  --56ae32b1-secondary-icon-button-color: var(--icons-primary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-success-hover);
}
.dxojm {
  display: inline-flex;
  padding: 0;
  border: 0;
  user-select: none;
  outline: none;
  cursor: pointer;
  color: var(--56ae32b1-default-icon-button-color);
  background-color: transparent;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}
.dxojm.qqJ7o,
.dxojm:hover {
  background-color: var(--56ae32b1-icon-button-h-bg);
}
.dxojm.mpt5x {
  color: var(--56ae32b1-primary-icon-button-color);
  border-radius: 8px;
}
.dxojm.S69qw {
  color: var(--56ae32b1-secondary-icon-button-color);
  border-radius: 8px;
}
.dxojm:disabled,
.dxojm[aria-disabled="true"] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  color: var(--56ae32b1-icon-button-disabled-color);
}

.sP_jT {
  animation: 2s linear infinite QqbTF;
  max-width: 20px;
  stroke: var(--border-positive-secondary);
}
.sP_jT circle {
  animation: 1.4s ease-in-out infinite both oi7F3;
  fill: transparent;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  transform-origin: 50% 50%;
  stroke-width: 10px;
}
.sP_jT.oboxG {
  max-width: 80px;
}
.sP_jT.oboxG circle {
  stroke-width: 5px;
}
.sP_jT.ZbArQ {
  max-width: 16px;
}
.sP_jT.mbhAT {
  stroke: var(--text-destructive);
}
.base-inverted .mbhAT {
  stroke: var(--text-invert-action);
}
@keyframes QqbTF {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes oi7F3 {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

/*** This is autogenerated file. Do not modify it manually ***/
:root,
:host {
  --body-emphasized-weight: 700;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-letter-spacing: 0.15px;
  --body-line-height: 24px;
  --callout-emphasized-weight: 700;
  --callout-font-size: 15px;
  --callout-font-weight: 400;
  --callout-letter-spacing: 0.15px;
  --callout-line-height: 22px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.15px;
  --caption-line-height: 20px;
  --footnote-font-size: 13px;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: 0.15px;
  --footnote-line-height: 21px;
  --headline-emphasized-weight: 900;
  --headline-font-size: 16px;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0.15px;
  --headline-line-height: 24px;
  --subhead-emphasized-weight: 700;
  --subhead-font-size: 14px;
  --subhead-font-weight: 400;
  --subhead-letter-spacing: 0.15px;
  --subhead-line-height: 22px;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0.15px;
  --subtitle-line-height: 28px;
  --title-font-size: 25px;
  --title-font-weight: 700;
  --title-letter-spacing: -0.25px;
  --title-line-height: 35px;
}
:root,
.base-theme {
  --c442ae8e-input-color: var(--text-primary);
  --c442ae8e-input-color-disabled: var(--text-disabled);
  --c442ae8e-input-color-placeholder: var(--text-secondary);
  --c442ae8e-input-bg: var(--fill-primary);
  --c442ae8e-input-bg-hover: var(--fill-hover);
  --c442ae8e-input-bg-disabled: var(--fill-disabled);
  --c442ae8e-input-border: var(--border-default);
  --c442ae8e-input-border-error: var(--border-destructive);
  --c442ae8e-input-border-focus: var(--border-positive-secondary);
  --c442ae8e-label-color: var(--text-secondary);
  --c442ae8e-label-color-error: var(--text-destructive);
  --c442ae8e-label-color-focus: var(--text-positive-primary);
  --c442ae8e-label-color-disabled: var(--text-disabled);
  --c442ae8e-icon-color: var(--icons-primary);
}
.base-inverted {
  --c442ae8e-input-color: var(--text-invert-primary);
  --c442ae8e-input-color-disabled: var(--text-invert-disabled);
  --c442ae8e-input-color-placeholder: var(--text-invert-secondary);
  --c442ae8e-input-bg: var(--fill-invert-primary);
  --c442ae8e-input-bg-hover: var(--fill-invert-hover);
  --c442ae8e-input-bg-disabled: var(--fill-invert-disabled);
  --c442ae8e-input-border: var(--border-invert-dark);
  --c442ae8e-input-border-error: var(--border-invert-destructive);
  --c442ae8e-input-border-focus: var(--border-positive-secondary);
  --c442ae8e-label-color: var(--text-invert-secondary);
  --c442ae8e-label-color-error: var(--text-destructive);
  --c442ae8e-label-color-focus: var(--text-positive-primary);
  --c442ae8e-label-color-disabled: var(--text-invert-disabled);
  --c442ae8e-icon-color: var(--icons-invert-light);
}
.QRYaR {
  display: inline-flex;
  background: var(--c442ae8e-input-bg);
  padding: 3px 7px;
  border: solid 1px transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.QRYaR.RA6qA {
  align-items: center;
  padding-left: 4px;
  gap: 8px;
}
.QRYaR.e42Z8 {
  display: grid;
  grid: 'label icon' max-content 'input icon' auto / minmax(0, 1fr) auto;
  border-color: var(--c442ae8e-input-border);
  padding: 7px 15px;
}
.QRYaR.Mwm9Q {
  border-color: var(--c442ae8e-input-border);
}
.QRYaR:is(.iB3ix, :hover) {
  background: var(--c442ae8e-input-bg-hover);
}
.QRYaR.PpES1 {
  border-color: var(--c442ae8e-input-border-error);
}
.QRYaR:is(.mza6k, :focus-within) {
  border-color: var(--c442ae8e-input-border-focus);
  background: var(--c442ae8e-input-bg);
}
.QRYaR.U1Pff {
  background: var(--c442ae8e-input-bg-disabled);
  border-color: transparent;
  pointer-events: none;
}
.DE1VB {
  grid-area: input;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: transparent;
  min-width: 0;
  width: 100%;
  color: var(--c442ae8e-input-color);
  text-overflow: ellipsis;
}
.DE1VB b,
.DE1VB em {
  font-weight: var(--subhead-emphasized-weight);
}
.QRYaR.e42Z8 > textarea.DE1VB {
  resize: none;
  min-height: 64px;
}
.DE1VB::placeholder {
  transition: opacity 0.2s ease;
  color: var(--c442ae8e-input-color-placeholder);
}
.QRYaR:is(.mza6k, :focus-within) > .DE1VB::placeholder {
  opacity: 0;
}
.QRYaR.U1Pff > .DE1VB,
.QRYaR.U1Pff > .DE1VB::placeholder {
  color: var(--c442ae8e-input-color-disabled);
}
.yWjeP {
  grid-area: label;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--c442ae8e-label-color);
  transition: all 0.3s ease;
  --inputc-label-empty: -20px;
}
textarea.DE1VB ~ .yWjeP {
  margin-bottom: 4px;
  --inputc-label-empty: -16px;
}
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: var(--inputc-label-empty);
  cursor: text;
}
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP b,
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP em {
  font-weight: var(--subhead-emphasized-weight);
}
.QRYaR.PpES1 > .yWjeP {
  color: var(--c442ae8e-label-color-error);
}
.QRYaR:is(.mza6k, :focus-within) > .yWjeP {
  color: var(--c442ae8e-label-color-focus);
}
.QRYaR.U1Pff > .yWjeP {
  color: var(--c442ae8e-label-color-disabled);
}
.RA6qA {
  border-radius: 8px;
  color: var(--icons-secondary);
  transition: all 0.3s ease;
  flex-shrink: 0;
}
.RA6qA.JxvQW {
  margin: -4px -4px -4px 0;
}
.QRYaR.U1Pff > .RA6qA {
  opacity: 0.3;
}
.QrfuJ,
.r0pkx {
  cursor: pointer;
  grid-area: icon;
  align-self: center;
  border-radius: 8px;
  color: var(--c442ae8e-icon-color);
  margin: -4px 0;
  margin-right: -8px;
  transition: all 0.3s ease;
  flex-shrink: 0;
  --sic-clear-op: 0.7;
  opacity: var(--sic-clear-op);
}
.r0pkx {
  display: none;
  animation: IEbNq 0.2s ease;
}
.e42Z8 > .QrfuJ,
.e42Z8 > .r0pkx {
  margin-left: 8px;
}
@keyframes IEbNq {
  from {
    opacity: 0;
    margin-right: -16px;
  }
  to {
    opacity: var(--sic-clear-op);
    margin-right: -8px;
  }
}
.QrfuJ:hover,
.r0pkx:hover {
  --sic-clear-op: 1;
}
.QRYaR:is(.iB3ix, :hover, :focus-within, .mza6k) > .DE1VB:not(:placeholder-shown) ~ .r0pkx {
  display: inline;
}
.ElaWW {
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  color: var(--c442ae8e-label-color-error);
  margin: 0 16px;
  margin-top: 8px;
}

:root,
.base-theme {
  --31d992c8-input-color: var(--text-primary);
  --31d992c8-input-color-disabled: var(--text-disabled);
  --31d992c8-input-placeholder-color: var(--text-secondary);
  --31d992c8-input-bg: var(--fill-primary);
  --31d992c8-input-hover-bg: var(--fill-hover);
  --31d992c8-input-border: var(--border-default);
  --31d992c8-input-border-error: var(--border-destructive);
  --31d992c8-input-border-focus: var(--border-positive-secondary);
  --31d992c8-label-color: var(--text-secondary);
  --31d992c8-label-color-error: var(--text-destructive);
  --31d992c8-label-color-focus: var(--text-positive-primary);
}
.base-inverted {
  --31d992c8-input-color: var(--text-invert-primary);
  --31d992c8-input-color-disabled: var(--text-invert-disabled);
  --31d992c8-input-placeholder-color: var(--text-invert-secondary);
  --31d992c8-input-bg: var(--fill-invert-primary);
  --31d992c8-input-hover-bg: var(--fill-invert-hover);
  --31d992c8-input-border: var(--border-invert-dark);
  --31d992c8-input-border-error: var(--border-invert-destructive);
  --31d992c8-input-border-focus: var(--border-positive-secondary);
  --31d992c8-label-color: var(--text-invert-secondary);
  --31d992c8-label-color-error: var(--text-invert-destructive);
  --31d992c8-label-color-focus: var(--text-positive-primary);
}
.gF32U {
  position: relative;
}
.gF32U .gv7Ex {
  display: flex;
  flex-grow: 0;
  position: absolute;
  top: 10px;
  right: 9px;
}
.gF32U .f4fQv {
  margin-top: 8px;
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  color: var(--31d992c8-label-color-error);
  margin-left: 16px;
  text-align: left;
}
.VkoZb {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  transition: all 0.2s;
  padding: 14px 16px;
  color: var(--31d992c8-input-color);
  background-color: var(--31d992c8-input-bg);
  border-radius: 8px;
  border: 1px solid var(--31d992c8-input-border);
  min-height: 52px;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
}
.VkoZb b,
.VkoZb em {
  font-weight: var(--subhead-emphasized-weight);
}
.VkoZb::placeholder {
  color: var(--31d992c8-input-placeholder-color);
}
.VkoZb:hover:not(:focus):not(:active) {
  background-color: var(--31d992c8-input-hover-bg);
}
.VkoZb:focus,
.VkoZb:active,
.VkoZb.MbxX3,
.VkoZb.eECnC {
  padding-top: 24px;
  padding-bottom: 3px;
}
.VkoZb:focus + .WURtk,
.VkoZb:active + .WURtk,
.VkoZb.MbxX3 + .WURtk,
.VkoZb.eECnC + .WURtk {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  top: 3px;
  opacity: 1;
  visibility: visible;
}
.VkoZb.eECnC,
.VkoZb.eECnC:focus,
.VkoZb.eECnC:active {
  border-color: var(--31d992c8-input-border-error);
}
.VkoZb.eECnC + .WURtk,
.VkoZb.eECnC:focus + .WURtk,
.VkoZb.eECnC:active + .WURtk {
  color: var(--31d992c8-label-color-error);
}
.VkoZb:focus,
.VkoZb:active {
  border-color: var(--31d992c8-input-border-focus);
}
.VkoZb:focus + .WURtk,
.VkoZb:active + .WURtk {
  color: var(--31d992c8-label-color-focus);
}
.VkoZb:focus::placeholder {
  transition: opacity 130ms ease-in;
  opacity: 0;
}
.VkoZb.a3TrK {
  padding-right: 48px;
}
.VkoZb.SpIba {
  pointer-events: none;
  color: var(--31d992c8-input-color-disabled);
}
.VkoZb.SpIba::placeholder {
  color: var(--text-disabled);
}
.VkoZb::-ms-reveal,
.VkoZb::-ms-clear {
  display: none;
}
.WURtk {
  transition: all 0.2s;
  position: absolute;
  color: var(--31d992c8-label-color);
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  top: 17px;
  opacity: 0;
  visibility: hidden;
  left: 17px;
}
.WURtk b,
.WURtk em {
  font-weight: var(--subhead-emphasized-weight);
}
.S3lip .VkoZb:not(:active, :focus, :hover) ~ .gv7Ex {
  display: none;
}
.S3lip .VkoZb:not(:active, :focus, :hover) ~ .gv7Ex:hover {
  display: flex;
}

.SeLGC {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  color: var(--text-invert-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.SeLGC b,
.SeLGC em {
  font-weight: var(--headline-emphasized-weight);
}
.s5C5i {
  padding: 0 5px;
}

