:root,
.base-theme {
  --c804822e-primary-btn-color: var(--text-action);
  --c804822e-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-secondary-btn-color: var(--text-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-primary);
  --c804822e-tertiary-btn-color: var(--text-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-tertiary-error-btn-color: var(--text-destructive);
  --c804822e-tertiary-error-btn-h-bg: var(--fill-destructive-secondary-hover);
  --c804822e-tertiary-error-btn-h-icolor: var(--text-destructive);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-destructive-primary-hover);
  --c804822e-disabled-btn-color: var(--text-disabled);
  --c804822e-disabled-btn-bg: var(--fill-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-action-secondary-btn-color: var(--text-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-primary);
  --c804822e-action-secondary-btn-border-disabled: var(--border-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-action-tertiary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-tertiary-destructive-btn-h-bg: var(--fill-destructive-secondary-hover);
}
.base-inverted {
  --c804822e-primary-btn-color: var(--text-invert-action);
  --c804822e-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-secondary-btn-color: var(--text-positive-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-secondary);
  --c804822e-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-invert-destructive-secondary);
  --c804822e-disabled-btn-color: var(--text-invert-disabled);
  --c804822e-disabled-btn-bg: var(--fill-invert-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-invert-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-action-secondary-btn-color: var(--text-positive-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-secondary);
  --c804822e-action-secondary-btn-border-disabled: var(--icons-invert-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-invert-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-invert-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-invert-hover);
}
.base-attention {
  --c804822e-action-secondary-btn-color: var(--text-invert-action);
  --c804822e-action-secondary-btn-h-bg: var(--fill-positive-attention-hover);
  --c804822e-action-secondary-btn-border: var(--border-invert-dark);
  --c804822e-action-secondary-btn-border-disabled: var(--border-invert-disabled);
}
.Rna02 {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  display: inline-grid;
  grid: 'c' auto / auto;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 8px;
  border-radius: var(--c-btn-brad);
  border: solid 1px transparent;
  padding: var(--c-btn-pad);
  color: currentColor;
  background-color: transparent;
  --c-btn-pad: 3px 7px;
  --c-btn-brad: 4px;
  --c-btn-icolor: currentColor;
  --c-btn-h-icolor: var(--c-btn-icolor);
}
.Rna02 b,
.Rna02 em {
  font-weight: var(--subhead-emphasized-weight);
}
.Rna02.xwFe4 {
  width: 100%;
}
.cojBY {
  grid: 'l c' auto / auto auto;
}
.sg6S4 {
  grid: 'c r' auto / auto auto;
}
.cojBY.sg6S4 {
  grid: 'l c r' auto / auto auto auto;
}
.IdRCY {
  transition: opacity 0.2s;
  grid-area: c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.wjpw2 {
  grid-area: 1 / 1 / 1 / -1;
  margin: -4px;
}
.W8RBB {
  transition: opacity 0.2s, color 0.2s;
  display: flex;
  margin: -4px -8px;
  color: var(--c-btn-icolor);
}
.rSmBI > .W8RBB,
.Rna02:hover > .W8RBB {
  color: var(--c-btn-h-icolor);
}
.kA5Wr {
  grid-area: l;
}
.JJSL1 {
  grid-area: r;
}
.Rna02:disabled,
.RiSrT {
  cursor: default;
  pointer-events: none;
}
.RiSrT > .W8RBB,
.RiSrT > .IdRCY {
  opacity: 0;
}
.Rna02:disabled {
  color: var(--c804822e-disabled-btn-color);
  border: solid 1px var(--c804822e-disabled-btn-border);
  --c-btn-icolor: var(--c804822e-disabled-btn-color);
}
.Rna02:disabled > .W8RBB {
  opacity: 0.3;
}
.stMKA,
.OblWK,
.RQSF2 {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  --c-btn-pad: 9px 15px;
  --c-btn-brad: 8px;
  column-gap: 4px;
}
.stMKA b,
.OblWK b,
.RQSF2 b,
.stMKA em,
.OblWK em,
.RQSF2 em {
  font-weight: var(--headline-emphasized-weight);
}
.stMKA .wjpw2,
.OblWK .wjpw2,
.RQSF2 .wjpw2 {
  margin: 0;
}
.stMKA .W8RBB,
.OblWK .W8RBB,
.RQSF2 .W8RBB {
  margin: -8px;
}
.stMKA .kA5Wr,
.OblWK .kA5Wr,
.RQSF2 .kA5Wr {
  margin-right: 0;
}
.stMKA .JJSL1,
.OblWK .JJSL1,
.RQSF2 .JJSL1 {
  margin-left: 0;
}
.stMKA:disabled,
.OblWK:disabled,
.RQSF2:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.stMKA {
  color: var(--c804822e-primary-btn-color);
  background-color: var(--c804822e-primary-btn-bg);
}
.stMKA.gJ0CR {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-primary);
}
.stMKA.gJ0CR:hover {
  background-color: var(--fill-invert-hover);
}
.stMKA.rSmBI,
.stMKA:hover {
  background-color: var(--c804822e-primary-btn-h-bg);
}
.OblWK {
  background-color: var(--c804822e-secondary-btn-bg);
  color: var(--c804822e-secondary-btn-color);
  border-color: var(--c804822e-secondary-btn-border-color);
}
.OblWK.gJ0CR {
  color: var(--text-invert-action);
  background: transparent;
  border-color: var(--border-invert-dark);
}
.OblWK.gJ0CR:hover {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-hover);
}
.OblWK.rSmBI,
.OblWK:hover {
  background-color: var(--c804822e-secondary-btn-h-bg);
}
.RQSF2 {
  color: var(--c804822e-error-btn-color);
  background-color: var(--c804822e-error-btn-bg);
}
.RQSF2.rSmBI,
.RQSF2:hover {
  background-color: var(--c804822e-error-btn-h-bg);
}
.a3oVp {
  color: var(--c804822e-action-primary-btn-color);
  background-color: var(--c804822e-action-primary-btn-bg);
}
.a3oVp:hover,
.a3oVp.rSmBI {
  background-color: var(--c804822e-action-primary-btn-h-bg);
}
.a3oVp:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.LY19j {
  color: var(--c804822e-action-secondary-btn-color);
  background-color: transparent;
  border: 1px solid var(--c804822e-secondary-btn-border-color);
}
.LY19j:hover,
.LY19j.rSmBI {
  background-color: var(--c804822e-action-secondary-btn-h-bg);
}
.LY19j:disabled {
  border-color: var(--c804822e-action-secondary-btn-border-disabled);
}
.LY19j.kwP2d:not(:disabled) {
  color: var(--c804822e-action-secondary-destructive-btn-color);
  border-color: var(--c804822e-action-secondary-destructive-btn-border);
}
.LY19j.kwP2d:not(:disabled):hover,
.LY19j.kwP2d:not(:disabled).rSmBI {
  color: var(--c804822e-action-secondary-destructive-btn-h-color);
  background-color: var(--c804822e-action-secondary-destructive-btn-h-bg);
}
.VZ4SZ {
  color: var(--c804822e-action-tertiary-btn-color);
}
.VZ4SZ:hover,
.VZ4SZ.rSmBI {
  background-color: var(--c804822e-action-tertiary-btn-h-bg);
}
.VZ4SZ.kwP2d:not(:disabled) {
  color: var(--c804822e-action-tertiary-destructive-btn-color);
}
.VZ4SZ.kwP2d:not(:disabled):hover,
.VZ4SZ.kwP2d:not(:disabled).rSmBI {
  background-color: var(--c804822e-action-tertiary-destructive-btn-h-bg);
}
.PGkzL,
.sdwF5 {
  color: var(--c804822e-tertiary-btn-color);
  text-decoration: underline;
}
.PGkzL.rSmBI,
.sdwF5.rSmBI,
.PGkzL:hover,
.sdwF5:hover {
  background-color: var(--c804822e-tertiary-btn-h-bg);
}
.FpBnu {
  color: var(--c804822e-tertiary-error-btn-color);
  --c-btn-h-icolor: var(--c804822e-tertiary-error-btn-h-icolor);
}
.FpBnu.rSmBI,
.FpBnu:hover {
  background-color: var(--c804822e-tertiary-error-btn-h-bg);
}
.hBjIv {
  color: var(--c804822e-action-error-btn-color);
}
.hBjIv.rSmBI,
.hBjIv:hover {
  background-color: var(--c804822e-action-error-btn-h-bg);
}
.hY7AJ {
  color: var(--c804822e-action-regular-btn-color);
  --c-btn-icolor: var(--icons-action);
}
.hY7AJ.rSmBI,
.hY7AJ:hover {
  background-color: var(--c804822e-action-regular-btn-h-bg);
}
.KzaIr {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  border: 1px solid var(--border-default);
  color: var(--text-primary);
  background-color: var(--fill-primary);
  padding: 10px 32px 10px 24px;
  border-radius: 8px;
  grid: 'l c' auto / auto 1fr;
}
.KzaIr b,
.KzaIr em {
  font-weight: var(--headline-emphasized-weight);
}
.KzaIr:hover {
  background-color: var(--fill-hover);
}
.KzaIr.ZKb_3 {
  color: var(--text-disabled);
  background-color: var(--fill-disabled);
  border-color: var(--border-disabled);
}
.KzaIr.ZKb_3 .W8RBB path {
  fill: var(--text-disabled);
}
.ZJIIO {
  color: #000000;
}
.base-theme.dark .ZJIIO {
  color: #ffffff;
}
.pcchT {
  text-decoration: underline;
  cursor: pointer;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto-Regular.woff2) format('woff2'), url(Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(Roboto-Black.woff2) format('woff2');
}
/*** This is autogenerated file. Do not modify it manually ***/
:root .light,
:host .light {
  --background-fade: #5b6065bf;
  --background-opacity: #ffffffcc;
  --background-primary: #ffffff;
  --background-secondary: #f5f5f6;
  --border-attention: #ad821f;
  --border-default: #eeeeee;
  --border-destructive: #c91d2b;
  --border-disabled: #f5f5f6;
  --border-hover: #f1f1f1;
  --border-info: #0488ca;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #bfbfc0;
  --border-positive-primary: #393e41;
  --border-positive-secondary: #1ab2b3;
  --border-success: #007637;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #bfbfc0;
  --divider-positive: #1ab2b3;
  --divider-primary: #eeeeee;
  --fill-destructive-primary: #d83b48;
  --fill-destructive-primary-hover: #c91d2b;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #ffedee;
  --fill-destructive-tertiary: #ffedee;
  --fill-disabled: #f1f1f1;
  --fill-hover: #eeeeee;
  --fill-hover-on-secondary: #dadada;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #fff8d2;
  --fill-positive-info: #dcf2fd;
  --fill-positive-info-hover: #a5d5ed;
  --fill-positive-primary: #16191c;
  --fill-positive-primary-hover: #393e41;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #0ea6a7;
  --fill-positive-success: #e6f7ed;
  --fill-positive-success-hover: #abddc2;
  --fill-primary: #ffffff;
  --fill-secondary: #f5f5f6;
  --icons-action: #f5f5f6;
  --icons-attention: #936806;
  --icons-destructive: #c91d2b;
  --icons-disabled: #7d8185;
  --icons-info: #013955;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #16191c;
  --icons-secondary: #5b6065;
  --icons-success: #007637;
  --shadows-base-shadow: #1e232726;
  --text-action: #f5f5f6;
  --text-attention: #936806;
  --text-destructive: #c91d2b;
  --text-disabled: #7d8185;
  --text-info: #013955;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #16191c;
  --text-secondary: #5b6065;
  --text-success: #007637;
}
:root .dark,
:host .dark {
  --background-fade: #5b6065bf;
  --background-opacity: #111518cc;
  --background-primary: #111518;
  --background-secondary: #1e2327;
  --border-attention: #ffee84;
  --border-default: #393e41;
  --border-destructive: #ff4c5b;
  --border-disabled: #616568;
  --border-hover: #5b6065;
  --border-info: #51c5ff;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #5b6065;
  --border-positive-primary: #f1f1f1;
  --border-positive-secondary: #1ab2b3;
  --border-success: #5be19d;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #5b6065;
  --divider-positive: #1ab2b3;
  --divider-primary: #393e41;
  --fill-destructive-primary: #c91d2b;
  --fill-destructive-primary-hover: #d83b48;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #380106;
  --fill-destructive-tertiary: #380106;
  --fill-disabled: #2a3035;
  --fill-hover: #262b2f;
  --fill-hover-on-secondary: #393e41;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #472a06;
  --fill-positive-info: #013955;
  --fill-positive-info-hover: #5a7591;
  --fill-positive-primary: #f1f1f1;
  --fill-positive-primary-hover: #ffffff;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #1ebfbf;
  --fill-positive-success: #053321;
  --fill-positive-success-hover: #558371;
  --fill-primary: #111518;
  --fill-secondary: #1e2327;
  --icons-action: #16191c;
  --icons-attention: #ffd83f;
  --icons-destructive: #ff4c5b;
  --icons-disabled: #939597;
  --icons-info: #51c5ff;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #f5f5f6;
  --icons-secondary: #bfbfc0;
  --icons-success: #47cd89;
  --shadows-base-shadow: #393e4126;
  --text-action: #16191c;
  --text-attention: #ffd83f;
  --text-destructive: #ff4c5b;
  --text-disabled: #939597;
  --text-info: #51c5ff;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #f5f5f6;
  --text-secondary: #bfbfc0;
  --text-success: #47cd89;
}
/*** This is autogenerated file. Do not modify it manually ***/
:root,
:host {
  --body-emphasized-weight: 700;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-letter-spacing: 0.15px;
  --body-line-height: 24px;
  --callout-emphasized-weight: 700;
  --callout-font-size: 15px;
  --callout-font-weight: 400;
  --callout-letter-spacing: 0.15px;
  --callout-line-height: 22px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.15px;
  --caption-line-height: 20px;
  --footnote-font-size: 13px;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: 0.15px;
  --footnote-line-height: 21px;
  --headline-emphasized-weight: 900;
  --headline-font-size: 16px;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0.15px;
  --headline-line-height: 24px;
  --subhead-emphasized-weight: 700;
  --subhead-font-size: 14px;
  --subhead-font-weight: 400;
  --subhead-letter-spacing: 0.15px;
  --subhead-line-height: 22px;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0.15px;
  --subtitle-line-height: 28px;
  --title-font-size: 25px;
  --title-font-weight: 700;
  --title-letter-spacing: -0.25px;
  --title-line-height: 35px;
}
#root {
  display: grid;
  justify-content: center;
  height: 100vh;
  grid: 'content' 1fr 'footer' min-content / auto;
  background-color: var(--fill-primary);
  color: var(--text-primary);
}
.aGDxu {
  grid-area: content;
  display: grid;
  gap: 24px;
  align-self: center;
  justify-items: start;
  max-width: 564px;
  min-width: 300px;
  padding: 16px;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}
.aGDxu b,
.aGDxu em {
  font-weight: var(--body-emphasized-weight);
}
.D2QdY {
  fill: var(--icons-destructive);
  margin-left: -8px;
}
.s8QTQ {
  display: grid;
  gap: 12px;
}
.c1uoc {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
  margin: 0;
}
.Sxa9y {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
}
.CfBLX {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  margin-top: -6px;
  line-height: 32px;
}
.LjEOt {
  display: flex;
  margin-left: -8px;
  gap: 4px;
  align-items: center;
}
.LjEOt svg {
  fill: var(--icons-secondary);
}
.moIhk {
  align-self: end;
  margin: 64px 8px;
  justify-self: center;
}

