:root,
.base-theme {
  --df487ba7-badge-color: var(--text-secondary);
  --df487ba7-badge-border: var(--border-default);
  --df487ba7-badge-color-inactive: var(--text-disabled);
  --df487ba7-badge-bg-inactive: var(--fill-disabled);
  --df487ba7-badge-color-success: var(--text-invert-action);
  --df487ba7-badge-bg-success: var(--fill-positive-secondary);
  --df487ba7-badge-color-attention: var(--text-invert-action);
  --df487ba7-badge-bg-attention: var(--fill-positive-attention);
  --df487ba7-badge-color-discount: var(--text-invert-primary);
  --df487ba7-badge-bg-discount: var(--fill-destructive-primary);
}
.dOAz0 {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: var(--df487ba7-badge-color);
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  padding: 1px 4px;
  border-radius: 4px;
  border: 1px solid var(--df487ba7-badge-border);
}
.dOAz0.W1kYH {
  border: 1px solid var(--border-on-secondary);
}
.dOAz0.u6VkM {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  padding: 4px 8px;
  border-radius: 8px;
}
.dOAz0.J0U9p {
  color: var(--df487ba7-badge-color-inactive);
  background-color: var(--df487ba7-badge-bg-inactive);
  border: none;
}
.dOAz0.M2t9Y {
  color: var(--df487ba7-badge-color-success);
  background-color: var(--df487ba7-badge-bg-success);
  border: none;
}
.dOAz0._3FXT {
  color: var(--df487ba7-badge-color-attention);
  background-color: var(--df487ba7-badge-bg-attention);
  border: none;
}
.dOAz0.xVm3y {
  color: var(--df487ba7-badge-color-discount);
  background-color: var(--df487ba7-badge-bg-discount);
  border: none;
}

:root,
.base-theme {
  --c804822e-primary-btn-color: var(--text-action);
  --c804822e-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-secondary-btn-color: var(--text-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-primary);
  --c804822e-tertiary-btn-color: var(--text-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-tertiary-error-btn-color: var(--text-destructive);
  --c804822e-tertiary-error-btn-h-bg: var(--fill-destructive-secondary-hover);
  --c804822e-tertiary-error-btn-h-icolor: var(--text-destructive);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-destructive-primary-hover);
  --c804822e-disabled-btn-color: var(--text-disabled);
  --c804822e-disabled-btn-bg: var(--fill-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-primary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-primary-hover);
  --c804822e-action-secondary-btn-color: var(--text-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-primary);
  --c804822e-action-secondary-btn-border-disabled: var(--border-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-hover);
  --c804822e-action-tertiary-destructive-btn-color: var(--text-destructive);
  --c804822e-action-tertiary-destructive-btn-h-bg: var(--fill-destructive-secondary-hover);
}
.base-inverted {
  --c804822e-primary-btn-color: var(--text-invert-action);
  --c804822e-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-secondary-btn-color: var(--text-positive-primary);
  --c804822e-secondary-btn-bg: transparent;
  --c804822e-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-secondary-btn-border-color: var(--border-positive-secondary);
  --c804822e-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-tertiary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-error-btn-color: var(--text-invert-primary);
  --c804822e-error-btn-bg: var(--fill-destructive-primary);
  --c804822e-error-btn-h-bg: var(--fill-invert-destructive-secondary);
  --c804822e-disabled-btn-color: var(--text-invert-disabled);
  --c804822e-disabled-btn-bg: var(--fill-invert-disabled);
  --c804822e-disabled-btn-border: transparent;
  --c804822e-action-primary-btn-color: var(--text-invert-action);
  --c804822e-action-primary-btn-bg: var(--fill-positive-secondary);
  --c804822e-action-primary-btn-h-bg: var(--fill-positive-secondary-hover);
  --c804822e-action-secondary-btn-color: var(--text-positive-primary);
  --c804822e-action-secondary-btn-h-bg: var(--fill-invert-hover);
  --c804822e-action-secondary-btn-border: var(--border-positive-secondary);
  --c804822e-action-secondary-btn-border-disabled: var(--icons-invert-disabled);
  --c804822e-action-secondary-destructive-btn-color: var(--text-invert-destructive);
  --c804822e-action-secondary-destructive-btn-h-bg: var(--fill-invert-destructive-secondary-hover);
  --c804822e-action-secondary-destructive-btn-h-color: var(--text-invert-primary);
  --c804822e-action-secondary-destructive-btn-border: var(--border-invert-destructive);
  --c804822e-action-tertiary-btn-color: var(--text-positive-primary);
  --c804822e-action-tertiary-btn-h-bg: var(--fill-invert-hover);
}
.base-attention {
  --c804822e-action-secondary-btn-color: var(--text-invert-action);
  --c804822e-action-secondary-btn-h-bg: var(--fill-positive-attention-hover);
  --c804822e-action-secondary-btn-border: var(--border-invert-dark);
  --c804822e-action-secondary-btn-border-disabled: var(--border-invert-disabled);
}
.Rna02 {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  display: inline-grid;
  grid: 'c' auto / auto;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 8px;
  border-radius: var(--c-btn-brad);
  border: solid 1px transparent;
  padding: var(--c-btn-pad);
  color: currentColor;
  background-color: transparent;
  --c-btn-pad: 3px 7px;
  --c-btn-brad: 4px;
  --c-btn-icolor: currentColor;
  --c-btn-h-icolor: var(--c-btn-icolor);
}
.Rna02 b,
.Rna02 em {
  font-weight: var(--subhead-emphasized-weight);
}
.Rna02.xwFe4 {
  width: 100%;
}
.cojBY {
  grid: 'l c' auto / auto auto;
}
.sg6S4 {
  grid: 'c r' auto / auto auto;
}
.cojBY.sg6S4 {
  grid: 'l c r' auto / auto auto auto;
}
.IdRCY {
  transition: opacity 0.2s;
  grid-area: c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.wjpw2 {
  grid-area: 1 / 1 / 1 / -1;
  margin: -4px;
}
.W8RBB {
  transition: opacity 0.2s, color 0.2s;
  display: flex;
  margin: -4px -8px;
  color: var(--c-btn-icolor);
}
.rSmBI > .W8RBB,
.Rna02:hover > .W8RBB {
  color: var(--c-btn-h-icolor);
}
.kA5Wr {
  grid-area: l;
}
.JJSL1 {
  grid-area: r;
}
.Rna02:disabled,
.RiSrT {
  cursor: default;
  pointer-events: none;
}
.RiSrT > .W8RBB,
.RiSrT > .IdRCY {
  opacity: 0;
}
.Rna02:disabled {
  color: var(--c804822e-disabled-btn-color);
  border: solid 1px var(--c804822e-disabled-btn-border);
  --c-btn-icolor: var(--c804822e-disabled-btn-color);
}
.Rna02:disabled > .W8RBB {
  opacity: 0.3;
}
.stMKA,
.OblWK,
.RQSF2 {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  --c-btn-pad: 9px 15px;
  --c-btn-brad: 8px;
  column-gap: 4px;
}
.stMKA b,
.OblWK b,
.RQSF2 b,
.stMKA em,
.OblWK em,
.RQSF2 em {
  font-weight: var(--headline-emphasized-weight);
}
.stMKA .wjpw2,
.OblWK .wjpw2,
.RQSF2 .wjpw2 {
  margin: 0;
}
.stMKA .W8RBB,
.OblWK .W8RBB,
.RQSF2 .W8RBB {
  margin: -8px;
}
.stMKA .kA5Wr,
.OblWK .kA5Wr,
.RQSF2 .kA5Wr {
  margin-right: 0;
}
.stMKA .JJSL1,
.OblWK .JJSL1,
.RQSF2 .JJSL1 {
  margin-left: 0;
}
.stMKA:disabled,
.OblWK:disabled,
.RQSF2:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.stMKA {
  color: var(--c804822e-primary-btn-color);
  background-color: var(--c804822e-primary-btn-bg);
}
.stMKA.gJ0CR {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-primary);
}
.stMKA.gJ0CR:hover {
  background-color: var(--fill-invert-hover);
}
.stMKA.rSmBI,
.stMKA:hover {
  background-color: var(--c804822e-primary-btn-h-bg);
}
.OblWK {
  background-color: var(--c804822e-secondary-btn-bg);
  color: var(--c804822e-secondary-btn-color);
  border-color: var(--c804822e-secondary-btn-border-color);
}
.OblWK.gJ0CR {
  color: var(--text-invert-action);
  background: transparent;
  border-color: var(--border-invert-dark);
}
.OblWK.gJ0CR:hover {
  color: var(--text-invert-primary);
  background-color: var(--fill-invert-hover);
}
.OblWK.rSmBI,
.OblWK:hover {
  background-color: var(--c804822e-secondary-btn-h-bg);
}
.RQSF2 {
  color: var(--c804822e-error-btn-color);
  background-color: var(--c804822e-error-btn-bg);
}
.RQSF2.rSmBI,
.RQSF2:hover {
  background-color: var(--c804822e-error-btn-h-bg);
}
.a3oVp {
  color: var(--c804822e-action-primary-btn-color);
  background-color: var(--c804822e-action-primary-btn-bg);
}
.a3oVp:hover,
.a3oVp.rSmBI {
  background-color: var(--c804822e-action-primary-btn-h-bg);
}
.a3oVp:disabled {
  background-color: var(--c804822e-disabled-btn-bg);
}
.LY19j {
  color: var(--c804822e-action-secondary-btn-color);
  background-color: transparent;
  border: 1px solid var(--c804822e-secondary-btn-border-color);
}
.LY19j:hover,
.LY19j.rSmBI {
  background-color: var(--c804822e-action-secondary-btn-h-bg);
}
.LY19j:disabled {
  border-color: var(--c804822e-action-secondary-btn-border-disabled);
}
.LY19j.kwP2d:not(:disabled) {
  color: var(--c804822e-action-secondary-destructive-btn-color);
  border-color: var(--c804822e-action-secondary-destructive-btn-border);
}
.LY19j.kwP2d:not(:disabled):hover,
.LY19j.kwP2d:not(:disabled).rSmBI {
  color: var(--c804822e-action-secondary-destructive-btn-h-color);
  background-color: var(--c804822e-action-secondary-destructive-btn-h-bg);
}
.VZ4SZ {
  color: var(--c804822e-action-tertiary-btn-color);
}
.VZ4SZ:hover,
.VZ4SZ.rSmBI {
  background-color: var(--c804822e-action-tertiary-btn-h-bg);
}
.VZ4SZ.kwP2d:not(:disabled) {
  color: var(--c804822e-action-tertiary-destructive-btn-color);
}
.VZ4SZ.kwP2d:not(:disabled):hover,
.VZ4SZ.kwP2d:not(:disabled).rSmBI {
  background-color: var(--c804822e-action-tertiary-destructive-btn-h-bg);
}
.PGkzL,
.sdwF5 {
  color: var(--c804822e-tertiary-btn-color);
  text-decoration: underline;
}
.PGkzL.rSmBI,
.sdwF5.rSmBI,
.PGkzL:hover,
.sdwF5:hover {
  background-color: var(--c804822e-tertiary-btn-h-bg);
}
.FpBnu {
  color: var(--c804822e-tertiary-error-btn-color);
  --c-btn-h-icolor: var(--c804822e-tertiary-error-btn-h-icolor);
}
.FpBnu.rSmBI,
.FpBnu:hover {
  background-color: var(--c804822e-tertiary-error-btn-h-bg);
}
.hBjIv {
  color: var(--c804822e-action-error-btn-color);
}
.hBjIv.rSmBI,
.hBjIv:hover {
  background-color: var(--c804822e-action-error-btn-h-bg);
}
.hY7AJ {
  color: var(--c804822e-action-regular-btn-color);
  --c-btn-icolor: var(--icons-action);
}
.hY7AJ.rSmBI,
.hY7AJ:hover {
  background-color: var(--c804822e-action-regular-btn-h-bg);
}
.KzaIr {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  border: 1px solid var(--border-default);
  color: var(--text-primary);
  background-color: var(--fill-primary);
  padding: 10px 32px 10px 24px;
  border-radius: 8px;
  grid: 'l c' auto / auto 1fr;
}
.KzaIr b,
.KzaIr em {
  font-weight: var(--headline-emphasized-weight);
}
.KzaIr:hover {
  background-color: var(--fill-hover);
}
.KzaIr.ZKb_3 {
  color: var(--text-disabled);
  background-color: var(--fill-disabled);
  border-color: var(--border-disabled);
}
.KzaIr.ZKb_3 .W8RBB path {
  fill: var(--text-disabled);
}
.ZJIIO {
  color: #000000;
}
.base-theme.dark .ZJIIO {
  color: #ffffff;
}
.pcchT {
  text-decoration: underline;
  cursor: pointer;
}

.uvGSS {
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  background-color: #2A3035;
  color: #F5F5F6;
  padding: 8px;
  border-radius: 8px;
  z-index: 11;
}
.uvGSS.wEowI {
  background-color: #FFD83F;
  color: #16191C;
}
.YgCZh {
  fill: #2A3035;
}
.YgCZh.wEowI {
  fill: #FFD83F;
}

:root,
.base-theme {
  --56ae32b1-primary-icon-button-color: var(--icons-secondary);
  --56ae32b1-secondary-icon-button-color: var(--icons-secondary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-hover);
}
.base-secondary {
  --56ae32b1-primary-icon-button-color: var(--icons-secondary);
  --56ae32b1-secondary-icon-button-color: var(--icons-secondary);
  --56ae32b1-default-icon-button-color: var(--icons-secondary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-hover);
}
.base-inverted {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-default-icon-button-color: var(--icons-invert-light);
  --56ae32b1-icon-button-disabled-color: var(--icons-invert-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-hover);
}
.base-color {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-default-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-positive-primary-hover);
}
.base-attention {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-default-icon-button-color: var(--icons-invert-dark);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-attention-hover);
}
.base-error {
  --56ae32b1-primary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-secondary-icon-button-color: var(--icons-invert-light);
  --56ae32b1-default-icon-button-color: var(--icons-invert-light);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-invert-destructive-secondary-hover);
}
.base-info {
  --56ae32b1-primary-icon-button-color: var(--icons-primary);
  --56ae32b1-secondary-icon-button-color: var(--icons-primary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-info-hover);
}
.base-success {
  --56ae32b1-primary-icon-button-color: var(--icons-primary);
  --56ae32b1-secondary-icon-button-color: var(--icons-primary);
  --56ae32b1-default-icon-button-color: var(--icons-primary);
  --56ae32b1-icon-button-disabled-color: var(--icons-disabled);
  --56ae32b1-icon-button-h-bg: var(--fill-positive-success-hover);
}
.dxojm {
  display: inline-flex;
  padding: 0;
  border: 0;
  user-select: none;
  outline: none;
  cursor: pointer;
  color: var(--56ae32b1-default-icon-button-color);
  background-color: transparent;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}
.dxojm.qqJ7o,
.dxojm:hover {
  background-color: var(--56ae32b1-icon-button-h-bg);
}
.dxojm.mpt5x {
  color: var(--56ae32b1-primary-icon-button-color);
  border-radius: 8px;
}
.dxojm.S69qw {
  color: var(--56ae32b1-secondary-icon-button-color);
  border-radius: 8px;
}
.dxojm:disabled,
.dxojm[aria-disabled="true"] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  color: var(--56ae32b1-icon-button-disabled-color);
}

/*** This is autogenerated file. Do not modify it manually ***/
:root,
:host {
  --body-emphasized-weight: 700;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-letter-spacing: 0.15px;
  --body-line-height: 24px;
  --callout-emphasized-weight: 700;
  --callout-font-size: 15px;
  --callout-font-weight: 400;
  --callout-letter-spacing: 0.15px;
  --callout-line-height: 22px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.15px;
  --caption-line-height: 20px;
  --footnote-font-size: 13px;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: 0.15px;
  --footnote-line-height: 21px;
  --headline-emphasized-weight: 900;
  --headline-font-size: 16px;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0.15px;
  --headline-line-height: 24px;
  --subhead-emphasized-weight: 700;
  --subhead-font-size: 14px;
  --subhead-font-weight: 400;
  --subhead-letter-spacing: 0.15px;
  --subhead-line-height: 22px;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0.15px;
  --subtitle-line-height: 28px;
  --title-font-size: 25px;
  --title-font-weight: 700;
  --title-letter-spacing: -0.25px;
  --title-line-height: 35px;
}
:root,
.base-theme {
  --c442ae8e-input-color: var(--text-primary);
  --c442ae8e-input-color-disabled: var(--text-disabled);
  --c442ae8e-input-color-placeholder: var(--text-secondary);
  --c442ae8e-input-bg: var(--fill-primary);
  --c442ae8e-input-bg-hover: var(--fill-hover);
  --c442ae8e-input-bg-disabled: var(--fill-disabled);
  --c442ae8e-input-border: var(--border-default);
  --c442ae8e-input-border-error: var(--border-destructive);
  --c442ae8e-input-border-focus: var(--border-positive-secondary);
  --c442ae8e-label-color: var(--text-secondary);
  --c442ae8e-label-color-error: var(--text-destructive);
  --c442ae8e-label-color-focus: var(--text-positive-primary);
  --c442ae8e-label-color-disabled: var(--text-disabled);
  --c442ae8e-icon-color: var(--icons-primary);
}
.base-inverted {
  --c442ae8e-input-color: var(--text-invert-primary);
  --c442ae8e-input-color-disabled: var(--text-invert-disabled);
  --c442ae8e-input-color-placeholder: var(--text-invert-secondary);
  --c442ae8e-input-bg: var(--fill-invert-primary);
  --c442ae8e-input-bg-hover: var(--fill-invert-hover);
  --c442ae8e-input-bg-disabled: var(--fill-invert-disabled);
  --c442ae8e-input-border: var(--border-invert-dark);
  --c442ae8e-input-border-error: var(--border-invert-destructive);
  --c442ae8e-input-border-focus: var(--border-positive-secondary);
  --c442ae8e-label-color: var(--text-invert-secondary);
  --c442ae8e-label-color-error: var(--text-destructive);
  --c442ae8e-label-color-focus: var(--text-positive-primary);
  --c442ae8e-label-color-disabled: var(--text-invert-disabled);
  --c442ae8e-icon-color: var(--icons-invert-light);
}
.QRYaR {
  display: inline-flex;
  background: var(--c442ae8e-input-bg);
  padding: 3px 7px;
  border: solid 1px transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.QRYaR.RA6qA {
  align-items: center;
  padding-left: 4px;
  gap: 8px;
}
.QRYaR.e42Z8 {
  display: grid;
  grid: 'label icon' max-content 'input icon' auto / minmax(0, 1fr) auto;
  border-color: var(--c442ae8e-input-border);
  padding: 7px 15px;
}
.QRYaR.Mwm9Q {
  border-color: var(--c442ae8e-input-border);
}
.QRYaR:is(.iB3ix, :hover) {
  background: var(--c442ae8e-input-bg-hover);
}
.QRYaR.PpES1 {
  border-color: var(--c442ae8e-input-border-error);
}
.QRYaR:is(.mza6k, :focus-within) {
  border-color: var(--c442ae8e-input-border-focus);
  background: var(--c442ae8e-input-bg);
}
.QRYaR.U1Pff {
  background: var(--c442ae8e-input-bg-disabled);
  border-color: transparent;
  pointer-events: none;
}
.DE1VB {
  grid-area: input;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: transparent;
  min-width: 0;
  width: 100%;
  color: var(--c442ae8e-input-color);
  text-overflow: ellipsis;
}
.DE1VB b,
.DE1VB em {
  font-weight: var(--subhead-emphasized-weight);
}
.QRYaR.e42Z8 > textarea.DE1VB {
  resize: none;
  min-height: 64px;
}
.DE1VB::placeholder {
  transition: opacity 0.2s ease;
  color: var(--c442ae8e-input-color-placeholder);
}
.QRYaR:is(.mza6k, :focus-within) > .DE1VB::placeholder {
  opacity: 0;
}
.QRYaR.U1Pff > .DE1VB,
.QRYaR.U1Pff > .DE1VB::placeholder {
  color: var(--c442ae8e-input-color-disabled);
}
.yWjeP {
  grid-area: label;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--c442ae8e-label-color);
  transition: all 0.3s ease;
  --inputc-label-empty: -20px;
}
textarea.DE1VB ~ .yWjeP {
  margin-bottom: 4px;
  --inputc-label-empty: -16px;
}
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP {
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: var(--inputc-label-empty);
  cursor: text;
}
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP b,
.QRYaR:not(:focus-within, .mza6k) > .DE1VB:placeholder-shown ~ .yWjeP em {
  font-weight: var(--subhead-emphasized-weight);
}
.QRYaR.PpES1 > .yWjeP {
  color: var(--c442ae8e-label-color-error);
}
.QRYaR:is(.mza6k, :focus-within) > .yWjeP {
  color: var(--c442ae8e-label-color-focus);
}
.QRYaR.U1Pff > .yWjeP {
  color: var(--c442ae8e-label-color-disabled);
}
.RA6qA {
  border-radius: 8px;
  color: var(--icons-secondary);
  transition: all 0.3s ease;
  flex-shrink: 0;
}
.RA6qA.JxvQW {
  margin: -4px -4px -4px 0;
}
.QRYaR.U1Pff > .RA6qA {
  opacity: 0.3;
}
.QrfuJ,
.r0pkx {
  cursor: pointer;
  grid-area: icon;
  align-self: center;
  border-radius: 8px;
  color: var(--c442ae8e-icon-color);
  margin: -4px 0;
  margin-right: -8px;
  transition: all 0.3s ease;
  flex-shrink: 0;
  --sic-clear-op: 0.7;
  opacity: var(--sic-clear-op);
}
.r0pkx {
  display: none;
  animation: IEbNq 0.2s ease;
}
.e42Z8 > .QrfuJ,
.e42Z8 > .r0pkx {
  margin-left: 8px;
}
@keyframes IEbNq {
  from {
    opacity: 0;
    margin-right: -16px;
  }
  to {
    opacity: var(--sic-clear-op);
    margin-right: -8px;
  }
}
.QrfuJ:hover,
.r0pkx:hover {
  --sic-clear-op: 1;
}
.QRYaR:is(.iB3ix, :hover, :focus-within, .mza6k) > .DE1VB:not(:placeholder-shown) ~ .r0pkx {
  display: inline;
}
.ElaWW {
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  color: var(--c442ae8e-label-color-error);
  margin: 0 16px;
  margin-top: 8px;
}

.iTfKM {
  color: var(--text-positive-primary);
  text-decoration: none;
  font-weight: var(--subhead-font-weight);
  font-size: var(--subhead-font-size);
  line-height: var(--subhead-line-height);
  letter-spacing: var(--subhead-letter-spacing);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.iTfKM b,
.iTfKM em {
  font-weight: var(--subhead-emphasized-weight);
}
.ZA1di {
  font-weight: var(--callout-emphasized-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
}

:root,
.base-theme {
  --de24f5c4-error-notification-color: var(--text-destructive);
  --de24f5c4-error-notification-bg: var(--fill-destructive-tertiary);
  --de24f5c4-error-notification-border: var(--border-destructive);
  --de24f5c4-info-notification-color: var(--text-secondary);
  --de24f5c4-info-notification-bg: var(--fill-secondary);
  --de24f5c4-info-notification-border: var(--border-default);
}
.base-inverted {
  --de24f5c4-error-notification-color: var(--text-invert-destructive);
  --de24f5c4-error-notification-bg: var(--fill-invert-destructive-secondary);
  --de24f5c4-error-notification-border: var(--border-invert-destructive);
  --de24f5c4-info-notification-color: var(--text-invert-primary);
  --de24f5c4-info-notification-bg: var(--fill-invert-primary);
  --de24f5c4-info-notification-border: var(--border-invert-dark);
}
.A_cXY {
  display: flex;
  align-items: center;
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  background-color: var(--de24f5c4-error-notification-bg);
  color: var(--de24f5c4-error-notification-color);
  padding: 8px;
  border: solid 1px var(--de24f5c4-error-notification-border);
  border-radius: 4px;
}
.A_cXY.u3NzI {
  background-color: var(--de24f5c4-info-notification-bg);
  border: solid 1px var(--de24f5c4-info-notification-border);
  color: var(--de24f5c4-info-notification-color);
}
.A_cXY.u3NzI .izj_2 {
  color: var(--de24f5c4-info-notification-color);
  text-decoration: underline;
}
.A_cXY.zMobQ {
  background-color: var(--fill-secondary);
  border: solid 1px var(--border-on-secondary);
}
.A_cXY > *:not(:last-child) {
  margin-right: 8px;
}
.A_cXY .VeuC3 {
  flex-grow: 1;
}
.A_cXY .EjCzB {
  flex-grow: 0;
}
.A_cXY .UnL6B {
  margin-top: 4px;
}
.A_cXY .UnL6B > *:not(:last-child) {
  margin-right: 4px;
}
.A_cXY .izj_2 {
  color: var(--de24f5c4-error-notification-color);
  text-decoration: underline;
}
.A_cXY .UiTvO {
  line-height: 0;
}
.A_cXY .UiTvO svg {
  width: 32px;
  height: 32px;
}
.Mlsix > *:not(:last-child) {
  margin-bottom: 8px;
}

.sP_jT {
  animation: 2s linear infinite QqbTF;
  max-width: 20px;
  stroke: var(--border-positive-secondary);
}
.sP_jT circle {
  animation: 1.4s ease-in-out infinite both oi7F3;
  fill: transparent;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  transform-origin: 50% 50%;
  stroke-width: 10px;
}
.sP_jT.oboxG {
  max-width: 80px;
}
.sP_jT.oboxG circle {
  stroke-width: 5px;
}
.sP_jT.ZbArQ {
  max-width: 16px;
}
.sP_jT.mbhAT {
  stroke: var(--text-destructive);
}
.base-inverted .mbhAT {
  stroke: var(--text-invert-action);
}
@keyframes QqbTF {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes oi7F3 {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

/*** This is autogenerated file. Do not modify it manually ***/
:root .light,
:host .light {
  --background-fade: #5b6065bf;
  --background-opacity: #ffffffcc;
  --background-primary: #ffffff;
  --background-secondary: #f5f5f6;
  --border-attention: #ad821f;
  --border-default: #eeeeee;
  --border-destructive: #c91d2b;
  --border-disabled: #f5f5f6;
  --border-hover: #f1f1f1;
  --border-info: #0488ca;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #bfbfc0;
  --border-positive-primary: #393e41;
  --border-positive-secondary: #1ab2b3;
  --border-success: #007637;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #bfbfc0;
  --divider-positive: #1ab2b3;
  --divider-primary: #eeeeee;
  --fill-destructive-primary: #d83b48;
  --fill-destructive-primary-hover: #c91d2b;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #ffedee;
  --fill-destructive-tertiary: #ffedee;
  --fill-disabled: #f1f1f1;
  --fill-hover: #eeeeee;
  --fill-hover-on-secondary: #dadada;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #fff8d2;
  --fill-positive-info: #dcf2fd;
  --fill-positive-info-hover: #a5d5ed;
  --fill-positive-primary: #16191c;
  --fill-positive-primary-hover: #393e41;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #0ea6a7;
  --fill-positive-success: #e6f7ed;
  --fill-positive-success-hover: #abddc2;
  --fill-primary: #ffffff;
  --fill-secondary: #f5f5f6;
  --icons-action: #f5f5f6;
  --icons-attention: #936806;
  --icons-destructive: #c91d2b;
  --icons-disabled: #7d8185;
  --icons-info: #013955;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #16191c;
  --icons-secondary: #5b6065;
  --icons-success: #007637;
  --shadows-base-shadow: #1e232726;
  --text-action: #f5f5f6;
  --text-attention: #936806;
  --text-destructive: #c91d2b;
  --text-disabled: #7d8185;
  --text-info: #013955;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #16191c;
  --text-secondary: #5b6065;
  --text-success: #007637;
}
:root .dark,
:host .dark {
  --background-fade: #5b6065bf;
  --background-opacity: #111518cc;
  --background-primary: #111518;
  --background-secondary: #1e2327;
  --border-attention: #ffee84;
  --border-default: #393e41;
  --border-destructive: #ff4c5b;
  --border-disabled: #616568;
  --border-hover: #5b6065;
  --border-info: #51c5ff;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #5b6065;
  --border-positive-primary: #f1f1f1;
  --border-positive-secondary: #1ab2b3;
  --border-success: #5be19d;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #5b6065;
  --divider-positive: #1ab2b3;
  --divider-primary: #393e41;
  --fill-destructive-primary: #c91d2b;
  --fill-destructive-primary-hover: #d83b48;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #380106;
  --fill-destructive-tertiary: #380106;
  --fill-disabled: #2a3035;
  --fill-hover: #262b2f;
  --fill-hover-on-secondary: #393e41;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #472a06;
  --fill-positive-info: #013955;
  --fill-positive-info-hover: #5a7591;
  --fill-positive-primary: #f1f1f1;
  --fill-positive-primary-hover: #ffffff;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #1ebfbf;
  --fill-positive-success: #053321;
  --fill-positive-success-hover: #558371;
  --fill-primary: #111518;
  --fill-secondary: #1e2327;
  --icons-action: #16191c;
  --icons-attention: #ffd83f;
  --icons-destructive: #ff4c5b;
  --icons-disabled: #939597;
  --icons-info: #51c5ff;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #f5f5f6;
  --icons-secondary: #bfbfc0;
  --icons-success: #47cd89;
  --shadows-base-shadow: #393e4126;
  --text-action: #16191c;
  --text-attention: #ffd83f;
  --text-destructive: #ff4c5b;
  --text-disabled: #939597;
  --text-info: #51c5ff;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #f5f5f6;
  --text-secondary: #bfbfc0;
  --text-success: #47cd89;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto-Regular.woff2) format('woff2'), url(Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(Roboto-Black.woff2) format('woff2');
}
/*** This is autogenerated file. Do not modify it manually ***/
:root,
:host {
  --body-emphasized-weight: 700;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-letter-spacing: 0.15px;
  --body-line-height: 24px;
  --callout-emphasized-weight: 700;
  --callout-font-size: 15px;
  --callout-font-weight: 400;
  --callout-letter-spacing: 0.15px;
  --callout-line-height: 22px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.15px;
  --caption-line-height: 20px;
  --footnote-font-size: 13px;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: 0.15px;
  --footnote-line-height: 21px;
  --headline-emphasized-weight: 900;
  --headline-font-size: 16px;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0.15px;
  --headline-line-height: 24px;
  --subhead-emphasized-weight: 700;
  --subhead-font-size: 14px;
  --subhead-font-weight: 400;
  --subhead-letter-spacing: 0.15px;
  --subhead-line-height: 22px;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0.15px;
  --subtitle-line-height: 28px;
  --title-font-size: 25px;
  --title-font-weight: 700;
  --title-letter-spacing: -0.25px;
  --title-line-height: 35px;
}
.MpTge {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 322px;
  width: 322px;
  background-color: var(--fill-positive-attention);
  z-index: 10;
  padding: 8px;
  border-radius: 8px;
}
.V0wr9 {
  fill: var(--fill-positive-attention);
}
.JCHmx {
  box-sizing: border-box;
  padding: 8px;
  display: grid;
  gap: 8px;
}
.l7DRs {
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  color: var(--text-invert-action);
}
.l7DRs b,
.l7DRs em {
  font-weight: var(--callout-emphasized-weight);
}
._QvJ6 {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--text-invert-action);
}
._QvJ6 ul {
  list-style-type: disc;
  padding-left: 16px;
}
.C8fpf {
  align-self: start;
}
.AfRuJ {
  grid-column: span 2;
  display: flex;
  justify-content: end;
  gap: 8px;
}
.jdD1e {
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
  color: var(--text-invert-action);
  text-decoration: underline;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*** This is autogenerated file. Do not modify it manually ***/
:root .light,
:host .light {
  --background-fade: #5b6065bf;
  --background-opacity: #ffffffcc;
  --background-primary: #ffffff;
  --background-secondary: #f5f5f6;
  --border-attention: #ad821f;
  --border-default: #eeeeee;
  --border-destructive: #c91d2b;
  --border-disabled: #f5f5f6;
  --border-hover: #f1f1f1;
  --border-info: #0488ca;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #bfbfc0;
  --border-positive-primary: #393e41;
  --border-positive-secondary: #1ab2b3;
  --border-success: #007637;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #bfbfc0;
  --divider-positive: #1ab2b3;
  --divider-primary: #eeeeee;
  --fill-destructive-primary: #d83b48;
  --fill-destructive-primary-hover: #c91d2b;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #ffedee;
  --fill-destructive-tertiary: #ffedee;
  --fill-disabled: #f1f1f1;
  --fill-hover: #eeeeee;
  --fill-hover-on-secondary: #dadada;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #fff8d2;
  --fill-positive-info: #dcf2fd;
  --fill-positive-info-hover: #a5d5ed;
  --fill-positive-primary: #16191c;
  --fill-positive-primary-hover: #393e41;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #0ea6a7;
  --fill-positive-success: #e6f7ed;
  --fill-positive-success-hover: #abddc2;
  --fill-primary: #ffffff;
  --fill-secondary: #f5f5f6;
  --icons-action: #f5f5f6;
  --icons-attention: #936806;
  --icons-destructive: #c91d2b;
  --icons-disabled: #7d8185;
  --icons-info: #013955;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #16191c;
  --icons-secondary: #5b6065;
  --icons-success: #007637;
  --shadows-base-shadow: #1e232726;
  --text-action: #f5f5f6;
  --text-attention: #936806;
  --text-destructive: #c91d2b;
  --text-disabled: #7d8185;
  --text-info: #013955;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #16191c;
  --text-secondary: #5b6065;
  --text-success: #007637;
}
:root .dark,
:host .dark {
  --background-fade: #5b6065bf;
  --background-opacity: #111518cc;
  --background-primary: #111518;
  --background-secondary: #1e2327;
  --border-attention: #ffee84;
  --border-default: #393e41;
  --border-destructive: #ff4c5b;
  --border-disabled: #616568;
  --border-hover: #5b6065;
  --border-info: #51c5ff;
  --border-invert-dark: #393e41;
  --border-invert-destructive: #c91d2b;
  --border-invert-disabled: #939597;
  --border-invert-light: #eeeeee;
  --border-on-color: #0c8c8d;
  --border-on-secondary: #5b6065;
  --border-positive-primary: #f1f1f1;
  --border-positive-secondary: #1ab2b3;
  --border-success: #5be19d;
  --divider-invert-dark: #393e41;
  --divider-invert-light: #eeeeee;
  --divider-on-color: #0c8c8d;
  --divider-on-secondary: #5b6065;
  --divider-positive: #1ab2b3;
  --divider-primary: #393e41;
  --fill-destructive-primary: #c91d2b;
  --fill-destructive-primary-hover: #d83b48;
  --fill-destructive-secondary: #c91d2b;
  --fill-destructive-secondary-hover: #380106;
  --fill-destructive-tertiary: #380106;
  --fill-disabled: #2a3035;
  --fill-hover: #262b2f;
  --fill-hover-on-secondary: #393e41;
  --fill-invert-destructive-secondary: #380106;
  --fill-invert-destructive-secondary-hover: #a01420;
  --fill-invert-disabled: #393e41;
  --fill-invert-hover: #393e41;
  --fill-invert-positive-primary: #1ab2b3;
  --fill-invert-positive-primary-hover: #129899;
  --fill-invert-primary: #1e2327;
  --fill-invert-secondary: #2a3035;
  --fill-invert-tertiary: #393e41;
  --fill-positive-attention: #ffd83f;
  --fill-positive-attention-hover: #e4b92c;
  --fill-positive-attention-secondary: #472a06;
  --fill-positive-info: #013955;
  --fill-positive-info-hover: #5a7591;
  --fill-positive-primary: #f1f1f1;
  --fill-positive-primary-hover: #ffffff;
  --fill-positive-secondary: #1ab2b3;
  --fill-positive-secondary-hover: #1ebfbf;
  --fill-positive-success: #053321;
  --fill-positive-success-hover: #558371;
  --fill-primary: #111518;
  --fill-secondary: #1e2327;
  --icons-action: #16191c;
  --icons-attention: #ffd83f;
  --icons-destructive: #ff4c5b;
  --icons-disabled: #939597;
  --icons-info: #51c5ff;
  --icons-invert-dark: #16191c;
  --icons-invert-destructive: #ff4c5b;
  --icons-invert-disabled: #939597;
  --icons-invert-light: #f5f5f6;
  --icons-positive: #1ab2b3;
  --icons-primary: #f5f5f6;
  --icons-secondary: #bfbfc0;
  --icons-success: #47cd89;
  --shadows-base-shadow: #393e4126;
  --text-action: #16191c;
  --text-attention: #ffd83f;
  --text-destructive: #ff4c5b;
  --text-disabled: #939597;
  --text-info: #51c5ff;
  --text-invert-action: #16191c;
  --text-invert-attention: #ffd83f;
  --text-invert-destructive: #ff4c5b;
  --text-invert-disabled: #939597;
  --text-invert-info: #51c5ff;
  --text-invert-primary: #f5f5f6;
  --text-invert-secondary: #bfbfc0;
  --text-invert-success: #47cd89;
  --text-invert-tertiary: #f5f5f6;
  --text-positive-primary: #1ab2b3;
  --text-primary: #f5f5f6;
  --text-secondary: #bfbfc0;
  --text-success: #47cd89;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto-Regular.woff2) format('woff2'), url(Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(Roboto-Black.woff2) format('woff2');
}
/*** This is autogenerated file. Do not modify it manually ***/
:root,
:host {
  --body-emphasized-weight: 700;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-letter-spacing: 0.15px;
  --body-line-height: 24px;
  --callout-emphasized-weight: 700;
  --callout-font-size: 15px;
  --callout-font-weight: 400;
  --callout-letter-spacing: 0.15px;
  --callout-line-height: 22px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.15px;
  --caption-line-height: 20px;
  --footnote-font-size: 13px;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: 0.15px;
  --footnote-line-height: 21px;
  --headline-emphasized-weight: 900;
  --headline-font-size: 16px;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0.15px;
  --headline-line-height: 24px;
  --subhead-emphasized-weight: 700;
  --subhead-font-size: 14px;
  --subhead-font-weight: 400;
  --subhead-letter-spacing: 0.15px;
  --subhead-line-height: 22px;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0.15px;
  --subtitle-line-height: 28px;
  --title-font-size: 25px;
  --title-font-weight: 700;
  --title-letter-spacing: -0.25px;
  --title-line-height: 35px;
}
:host {
  font-family: 'Roboto', sans-serif;
}
.S5WnW {
  display: grid;
  gap: 16px;
  box-sizing: border-box;
  max-width: 680px;
  min-width: 430px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--fill-secondary);
  max-height: 80px;
  overflow: hidden;
  max-height: 1000px;
}
header {
  display: grid;
  grid: auto / auto 1fr auto;
  gap: 8px;
  align-items: center;
}
h1 {
  margin: 0;
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
}
h1 b,
h1 em {
  font-weight: var(--headline-emphasized-weight);
}
.flnPw {
  margin-left: 8px;
}
.yOjwx {
  cursor: default;
}
.brMBj.AamOs > span::after {
  content: '';
  display: inline-block;
  text-align: left;
  width: 1.2em;
  animation: qN56f 1.5s infinite steps(4);
}
@keyframes qN56f {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}
article {
  padding: 16px;
  background: var(--fill-primary);
  border-radius: 8px;
  border: 2px solid transparent;
}
article.kaHGB {
  border-color: var(--border-destructive);
}
article.SbgeH {
  border-color: var(--fill-positive-attention);
}
article.yGQnf {
  border-color: var(--border-positive-secondary);
}
h2 {
  margin: 0;
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
}
h2 small {
  display: block;
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  color: var(--text-secondary);
}
h2 small b,
h2 small em {
  font-weight: var(--callout-emphasized-weight);
}
.LzBwn {
  padding: 16px 0 0 32px;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-in-out, padding 0.3s;
}
.LzBwn.XKLAe:not(.SigKM) section:last-of-type {
  border-bottom: 1px solid var(--divider-primary);
  padding-bottom: 16px;
}
.LzBwn.SigKM {
  grid-template-rows: 0fr;
  padding-top: 0;
  padding-bottom: 0;
}
.mk2tw svg {
  rotate: -180deg;
  transition: rotate 0.3s ease-in-out;
}
.mk2tw.KBp9X svg {
  rotate: 0deg;
}
.zk5gX {
  overflow: hidden;
}
.TSYDk > *:not(:last-child) {
  margin-bottom: 8px;
}
section {
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
  padding: 16px 0;
}
section b,
section em {
  font-weight: var(--callout-emphasized-weight);
}
section:first-of-type {
  padding-top: 0;
}
section:not(:first-of-type) {
  border-top: 1px solid var(--divider-primary);
}
section:last-of-type {
  padding-bottom: 0;
}
section p {
  margin: 0;
  color: var(--text-secondary);
  padding-left: 8px;
}
h3 {
  margin: 0;
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  margin-bottom: 8px;
  padding-left: 8px;
}
h3 b,
h3 em {
  font-weight: var(--headline-emphasized-weight);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.h9WLC {
  max-width: 260px;
}
.hrbr0 {
  background: var(--fill-secondary);
  margin-top: 8px;
  gap: 4px;
}
.hrbr0 span:last-child {
  font-family: monospace;
}
.CKxj4 {
  margin-top: 16px;
}
footer {
  color: var(--text-secondary);
  font-weight: var(--footnote-font-weight);
  font-size: var(--footnote-font-size);
  line-height: var(--footnote-line-height);
  letter-spacing: var(--footnote-letter-spacing);
}
footer:empty {
  display: none;
}
.nEaoz {
  display: grid;
  grid: auto / 1fr auto auto;
  align-items: center;
  gap: 8px;
}
.FQXYQ {
  color: var(--text-primary);
}
.yg0Np {
  font-weight: bold;
}
._4rK62 {
  display: grid;
  background: var(--fill-primary);
  border-radius: 8px;
  padding: 16px;
  grid: 'title' auto 'content' auto 'actions' auto / 1fr;
}
.lYTvl {
  grid-area: title;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  color: var(--text-primary);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
}
.lYTvl b,
.lYTvl em {
  font-weight: var(--headline-emphasized-weight);
}
.Km4gZ {
  grid-area: content;
  margin-top: 16px;
  height: 96px;
}
.JiFsa {
  grid-area: content;
  padding: 0 8px;
  margin-top: 4px;
  color: var(--text-secondary);
  font-weight: var(--callout-font-weight);
  font-size: var(--callout-font-size);
  line-height: var(--callout-line-height);
  letter-spacing: var(--callout-letter-spacing);
}
.JiFsa b,
.JiFsa em {
  font-weight: var(--callout-emphasized-weight);
}
.lVPM2 {
  grid-area: actions;
  display: grid;
  grid: auto / 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}
.fPqHP {
  color: inherit;
  text-decoration: underline;
}
.QKmYS {
  display: grid;
  grid: 'icon msg action' auto / auto 1fr auto;
}
.XzYRB {
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  display: grid;
  grid-template-columns: auto 16px;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}
.XzYRB b,
.XzYRB em {
  font-weight: var(--headline-emphasized-weight);
}
.EBxeD {
  margin-top: 16px;
}
.D2lGq {
  text-align: center;
}
.X_xiR {
  display: inline-grid;
  grid-template-columns: auto 32px;
  gap: 8px;
  align-items: center;
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  letter-spacing: var(--headline-letter-spacing);
  padding: 6px;
}
.X_xiR b,
.X_xiR em {
  font-weight: var(--headline-emphasized-weight);
}
.X_xiR svg {
  width: 32px;
  height: 32px;
}

